<style>
	.element_name a{
		text-decoration: none;
    color: white!important;
    font-family: cursive;
		font-size: 13px;
	}
	.elements_box{
		width: 50%;
		height: 57%;
	}
	.white_table {
		background-image: url("/assets/tv_white.png");
    background-size: cover;
    background-repeat: round;
		padding-top: 30px;
    padding-left: 10px;
	}
</style>
<div class="row white_table">
<div class="elements_box" style="float:left;">
   <div class="element">
    <div class="element_img"><%= image_tag "heritage-icon.png" %></div>
    <div class="element_name"><a href="" data-no-turbolink="true">HERITAGE</a></div>
  </div>
	<div class="element">
	 <div class="element_img"><%= image_tag "spices-icon.png" %></div>
	 <div class="element_name"><a href="" data-no-turbolink="true">SPICES</a></div>
 </div>
 <div class="element">
	<div class="element_img"><%= image_tag "pilgrimage-icon.png" %></div>
	<div class="element_name"><a href="" data-no-turbolink="true">PILGRIMAGE</a></div>
</div>
</div>
<div class="elements_box" style="float:right;">
  <div class="element">
    <div class="element_img"><%= image_tag "science-icon.png" %></div>
	 <div class="element_name"><a href="" data-no-turbolink="true">SCIENCE</a></div>
  </div>
   <div class="element">
    <div class="element_img"><%= image_tag "coast-icon.png" %></div>
    <div class="element_name"><a href="" data-no-turbolink="true">COAST</a></div>
	</div>
   <div class="element">
    <div class="element_img"><%= image_tag "wildlife-icon.png" %></div>
    <div class="element_name"><a href="" data-no-turbolink="true">WILDERNESS</a></div>
	</div>
</div>
</div>
