<!DOCTYPE html>
<html>
  <head>
    <title>PumpData</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  </head>

  <body>
    <%= render "home/mapunity_header" %>
    <div id="content" class="row">
       <%= yield %>
    </div>
  </body>
</html>
